*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.body{
    overflow: hidden!important;
 }
 .whole{
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: lightgray;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

 }
 .navv{
    height: 60px;
    width: 100%;
    background-color:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.right{
    width: 40%;
    display: flex;
    justify-content: space-around;
    
}
.right a{
    position: relative;
    bottom: -40px;
    opacity: 0;
    animation: homenav 1s linear forwards;
    
}
@keyframes homenav {
    to{
        bottom: 0px;
        opacity: 1;
        transition: 8s;
    }
}
.left a{
    position: relative;
    bottom: -40px;
    opacity: 0;
    animation: homenav 1s linear forwards;
    
}

.left h1{
    display: none;
}
.navv input{
    display: none;
}

.about{
    height: 400px;
    width: 100%;
    background-image: url(./bgi.jpeg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     background-attachment: fixed; 
     filter: brightness(90%);
     background-color: beige;
}

.ccc{
    min-height: 350px;
    width: 100%;
    padding: 50px!important;
    padding-top: 100px!important;
    gap: 100px!important;
}

.box3 i{
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 50%;
    background-color: gray;
}

.contac{
    min-height: 550px;
    width: 100%;
    background-color: white;
    padding: 50px;
}

.contac button{
    height: 40px!important;
    width: 150px!important;
    border-radius: 40%;
    cursor: pointer;
}

.contac button:hover{
    background-color: palevioletred;
    color: white;

}

.last{
    height: 300px;
    width: 100%;
    background-color: rgba(5, 5, 58, 0.747);
    display: flex;
    justify-content: center;
    align-items: center;
}
.last i{
    height: 60px;
    width: 60px;
    padding: 15px;
    border-radius: 50%;
    background-color: white;
    color: palevioletred;
    cursor: pointer;
}
.last i:hover{
    background-color: palevioletred;
    color: white;
}

.form-floating textarea{
    resize: none;
}
/* .form-floating{
    display: flex;
    justify-content: center;
} */

/* .formm{
    display: flex;
    /* justify-content: center; */
    align-items: center;
} */













/* MEDIA QUERY */

@media only screen and (max-width:750px) {
    .right{
        width: 70%;
    }
}

@media only screen and (max-width:450px) {
    .navv{
        flex-direction: column;
    }
    .left h1{
        display: block;
    }
    .left{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .right{
        width: 120%;
        height: 150px;
        background-color: teal;
        padding: 20px;
        border-radius: 20px;
        flex-direction: column;
        align-items: center;
        position: relative;
        right: -200px;
        top: 50px;
        opacity: 0;
        z-index: 999;
    }
    .navv input:checked ~.right{
        opacity: 1;
        right: 5px;
        transition: 1s all;
        top: 0;
    }
}


